USE [master]
GO
/****** Object:  Database [GameShopDB]    Script Date: 20.06.2024 18:45:41 ******/
CREATE DATABASE [GameShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GameShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GameShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameShopDB]
GO
/****** Object:  Table [dbo].[Developers]    Script Date: 20.06.2024 18:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Developers](
	[ID] [int] NOT NULL,
	[DeveloperName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Developers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 20.06.2024 18:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Path] [nvarchar](255) NOT NULL,
	[Cost] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Developer] [int] NOT NULL,
	[Publisher] [int] NOT NULL,
	[CP1] [nvarchar](50) NULL,
	[OP1] [nvarchar](50) NULL,
	[GPD1] [nvarchar](50) NULL,
	[D1] [nvarchar](50) NULL,
	[CP2] [nvarchar](50) NULL,
	[OP2] [nvarchar](50) NULL,
	[GDP2] [nvarchar](50) NULL,
	[D2] [nvarchar](50) NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 20.06.2024 18:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[dateTime] [datetime] NOT NULL,
	[LogText] [nvarchar](max) NOT NULL,
	[IdLog] [int] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 20.06.2024 18:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[ID] [int] NOT NULL,
	[PublisherName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.06.2024 18:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Passw] [nvarchar](255) NOT NULL,
	[Games] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Developers] ([ID], [DeveloperName]) VALUES (0, N'AFGS                                              ')
INSERT [dbo].[Developers] ([ID], [DeveloperName]) VALUES (1, N'gffg')
GO
INSERT [dbo].[Logs] ([dateTime], [LogText], [IdLog]) VALUES (CAST(N'2024-05-20T20:26:46.627' AS DateTime), N'tre was created', 0)
INSERT [dbo].[Logs] ([dateTime], [LogText], [IdLog]) VALUES (CAST(N'2024-05-20T21:13:54.987' AS DateTime), N'tre bought 0', 1)
INSERT [dbo].[Logs] ([dateTime], [LogText], [IdLog]) VALUES (CAST(N'2024-05-21T18:36:53.627' AS DateTime), N'admin  bought 0', 2)
GO
INSERT [dbo].[Publishers] ([ID], [PublisherName]) VALUES (0, N'AFGS                                              ')
INSERT [dbo].[Publishers] ([ID], [PublisherName]) VALUES (1, N'rgrg')
GO
INSERT [dbo].[Users] ([ID], [UserName], [Login], [Passw], [Games]) VALUES (1, N'damin', N'damin', N'654321', NULL)
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Developers] FOREIGN KEY([Developer])
REFERENCES [dbo].[Developers] ([ID])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Developers]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Publishers] FOREIGN KEY([Publisher])
REFERENCES [dbo].[Publishers] ([ID])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Publishers]
GO
USE [master]
GO
